
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: flex;
    gap: 5px;
    align-content: stretch;
    height: 100%;
}

.exerciseMainContent {
    width: 60%;
}

.exerciseMainAside {
    width: 20%;

}